---
- name: All the VxPollbook system level build steps
  hosts: 127.0.0.1
  connection: local
  become: yes

- import_playbook: kernel.yaml
- import_playbook: packages.yaml
- import_playbook: initialize_encrypted_volumes.yaml
- import_playbook: node.yaml
- import_playbook: rust.yaml
- import_playbook: rust_targets.yaml
- import_playbook: rubygems.yaml
- import_playbook: repos.yaml
- import_playbook: pollbook_label_printer.yaml
- import_playbook: brother_printers.yaml
- import_playbook: logrotate.yaml
- import_playbook: tpm.yaml
- import_playbook: openssl_fips.yaml
- import_playbook: fips_install_service.yaml
- import_playbook: rekey_var_service.yaml
- import_playbook: expand_var_service.yaml
