[Unit]
Description=Re-encrypt the /var partition via the TPM
DefaultDependencies=no
After=var.mount oneshot-fips-install.service
Requires=var.mount oneshot-fips-install.service
ConditionVirtualization=no
ConditionPathExists=!/var/opt/REKEY_VIA_TPM_COMPLETE
ConditionPathIsMountPoint=/var
Before=sysinit.target

[Service]
Type=oneshot
ExecStart=/vx/vendor/vendor-functions/rekey-via-tpm.sh
ExecStartPost=/usr/bin/touch /var/opt/REKEY_VIA_TPM_COMPLETE
RemainAfterExit=yes
StandardOutput=journal+console
StandardError=journal+console

[Install]
WantedBy=sysinit.target
