[Unit]
Description=Expand the /var filesystem
DefaultDependencies=no
After=var.mount oneshot-rekey-var.service
Requires=var.mount
ConditionVirtualization=no
ConditionPathExists=!/var/opt/EXPAND_VAR_COMPLETE
ConditionPathIsMountPoint=/var
Before=sysinit.target

[Service]
Type=oneshot
ExecStart=/vx/vendor/vendor-functions/expand-var-filesystem.sh
ExecStartPost=/usr/bin/touch /var/opt/EXPAND_VAR_COMPLETE
RemainAfterExit=yes
StandardOutput=journal+console
StandardError=journal+console

[Install]
WantedBy=sysinit.target
