[Unit]
Description=Manage the local ethernet state
DefaultDependencies=no
After=multi-user.target

[Service]
Type=oneshot
ExecStart=/vx/code/config/vendor-functions/manage-local-ethernet.sh
RemainAfterExit=yes
StandardOutput=journal+console
StandardError=journal+console

[Install]
WantedBy=multi-user.target
